html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
  }


body {
    background: #FDC54E;
    font-family: 'Quicksand', sans-serif;
    position: flex;
}

ul {
    list-style: none;
}

.rapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

h1 {
    display: block;
    font-size: 60px;
    color: #2141B0;
    letter-spacing: 10px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-out;
    color: #2141B0;
  }

a:visited, a:focus, a:active {
    text-decoration: none;
    color: #2141B0;
  }

#coder-link:hover {
    font-weight: bolder;
    font-size: 42px;
}

#nav-bar {
    margin: 0%;
    padding: 24px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    color: #665A5A;
}

#main-intro {
    position: absolute;
    margin: 0px;
    top: 30%;
    left: 15%;
    font-size: 40px;
    color:  #2141B0;
    letter-spacing: 3px;
    font-weight: bolder;

}

#contact-intro {
    position: absolute;
    margin: 0px;
    top: 25%;
    left: 15%;
    font-size: 40px;
    color:  #2141B0;
    letter-spacing: 3px;
    font-weight: bolder;

}

#about-intro {
    position: absolute;
    margin: 0px;
    top: 25%;
    left: 10%;
    font-size: 40px;
    color:  #2141B0;
    letter-spacing: 3px;
    font-weight: bolder;
}

#down-img {
    width: 30px;
}

.background-img {
    width: 100%;
    padding: 0px;
    position: absolute;
    top: -30%;
    z-index: -1;
}

@media screen and (max-width: 800px) {
    .background-img {
        display: none;
    }
}

.nav-item {
    padding-left: 5%;
    font-weight: bolder;
}

.nav-item:hover {
    text-decoration: underline;
}


.socials-img {
    width: 50px;
}

.socials-img:hover {
    width: 55px;
}

.contact-socials-img {
    width: 65px;
}

.social-icon {
    display: flex;
    align-items: center;
}

.contact-link:hover {
    text-decoration: underline;
}

#socials-bar ul {
    position: fixed;
    bottom: 0px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 80%;
}


button {
    box-sizing: border-box;
    background-color: #6285FC;
    color: #2141B0;
    border: #6285FC;
    border-radius: 2em;
    display: flex;
    align-self: center;
    line-height: 1;
    margin: 20px;
    padding: 20px 30px;
    text-align: center;
    font-size: 20px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    font-family: 'Quicksand', sans-serif;
}

button:hover span {display:none}
button:hover:before {content:"Cos' it's cute!"}


button:hover {
    box-shadow: 0 0 40px 40px rgb(0, 40, 187) inset;
    color: #6285FC;
    border: #2141B0;;
}
